@use '../variables' as vars;

.menu {
  display: flex;

  a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: vars.$gray-2;
    }

    &.active {
      background-color: vars.$gray-1;
    }
  }

  a:last-child {
    margin-left: auto;
  }
}
