@use '../variables' as vars;

.tabsContainer {
  display: flex;
  flex-direction: column;
}

.tabHeaders {
  display: flex;
  cursor: pointer;
}

.tabHeader {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  color: vars.$color-2
}

.tabHeader:hover {
  border-color: vars.$gray-4;
}

.active {
  border-color: vars.$color-3;
  font-weight: bold;
}

.tabContent {
  margin-top: 1rem;
  padding: 20px;
}

.withBorder {
  border: 1px solid vars.$gray-4;
}