@use '../components/variables' as vars;

.pageWrap {
  max-width: vars.$mainWrap;
  margin: 0 auto;
  padding: 0 vars.$side-padding;
}

.pageHeader {
  @include vars.pageTitle;
}

.container {
  margin-top: 60px;
}

.row {
  display: flex;
  gap: 200px;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
  }
}

.dots {
  @include vars.dots;
  margin-top: 40px;
}