@import '../components/variables';

.pageWrap {
  max-width: $mainWrap;
  margin: 0 auto;
  padding: 0 $side-padding;
}

.pageHeader {
  @include pageTitle;
}

.container {
  margin-top: 60px;
}

.tabs {
  margin: 60px 0 40px 0;
}