@use '../components/variables' as vars;

.pageWrap {
  max-width: vars.$mainWrap;
  margin: 0 auto;
  padding: 0 vars.$side-padding;
}

.pageHeader {
  @include vars.pageTitle;
}

.container {
  margin-top: 60px;
}

.tabs {
  margin: 60px 0 40px 0;
}